<?xml version="1.0" encoding="UTF-8"?>

<suite name="FakestoreUserAPI">

<listeners>
<listener class-name="utilities.ExtentReportManager" />>

</listeners>
  <test thread-count="5" name="FakestoreUserAPITest">
    <classes>
      <class name="testcases.UserTests"/>
    </classes>
  </test> <!-- FakestoreUserAPITest -->
</suite> <!-- FakestoreUserAPI -->
